@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --track-bg: #0D1117;
  --rounding: 9px;
  --pill: 99999999px;
  --seekbar-bg: #3c3c3c;
  --seekbar-fg: #DD3D2C;
  --red: #2D3133;
}

#seekbar {
  appearance: none;
  background-color: var(--seekbar-bg);
  background-size: 0% 100%;
  background-image: linear-gradient(var(--seekbar-fg), var(--seekbar-fg));
  background-repeat: no-repeat;
}

#seekbar::-webkit-slider-thumb {
  appearance: none;
  opacity: 0;
  width: 20px;
  height: 10px;
  border-radius: var(--pill);
  cursor: pointer;
  transition: all .3s linear;
  background-color: var(--seekbar-fg);
}

#seekbar:hover::-webkit-slider-thumb {
  background-color: var(--seekbar-fg);
}

#seekbar :hover::-webkit-slider-thumb {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--track-bg);
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

.track-card {
  cursor: pointer;
}

.track-card>* {
  cursor: default;
}

#btn-next.material-symbols-outlined {
  font-size: 24px;
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 28
}